.ws-example {
  background-color: white;
  margin-top: 25px;
  margin-bottom: 25px;
}

.ws-example-heading {
  padding: var(--pf-global--spacer--md);
  border-bottom: var(--pf-global--BorderWidth--sm) solid #f8f8f8;
}

.ws-preview {
  margin: 1rem;
  background-color: white;
  border-bottom: 1px solid #f8f8f8;
  transition: width .2s ease-in-out;
}

.ws-code {
  padding: .25em .75em;
  white-space: nowrap;
  font-size: var(--pf-global--FontSize--md);
}

.ws-editor .token.punctuation,
.ws-editor .token.operator {
  color: #c9190b;
}

.ws-preview-fullscreen {
  position: relative;
  pointer-events: none;
  width: 1280px;
  height: 800px;
  transform-origin: top left;
  /* transform: scale added in JS based on parent element width */
}

.ws-preview-container {
  position: relative;
  display: block;
}
