.ws-example {
  background-color: white;
  margin-top: 25px;
  margin-bottom: 25px;
}

.ws-example-heading {
  padding: var(--pf-global--spacer--md);
  border-bottom: var(--pf-global--BorderWidth--sm) solid #f8f8f8;
}

.ws-preview {
  padding: 1rem;
  background-color: white;
  border-bottom: 1px solid #f8f8f8;
  transition: width .2s ease-in-out;
}
