.ws-sideNav-item .ws-sideNav-link {
  color: #151515;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding: 8px 24px;
  border-left: 4px solid transparent;
}

.ws-sideNav-item .ws-sideNav-link.pf-m-active,
.ws-sideNav-item .ws-sideNav-link:hover {
  background-color: #f8f8f8;
  border-left-color: #06c;
}

.ws-sideNav-item .ws-sideNav-link::after {
  background-color: transparent !important;
}
