[submodule "patternfly-org-demo/patternfly-next"]
	path = patternfly-org-demo/patternfly-next
	url = git@github.com:redallen/patternfly-next.git
	branch = refactor/mdx
[submodule "patternfly-org-demo/patternfly-react"]
	path = patternfly-org-demo/patternfly-react
	url = git@github.com:redallen/patternfly-react.git
	branch = refactor/mdx
