h1.ws-title,
h1.ws-title.ws-mdx-h1 {
  margin-bottom: var(--pf-c-content--h1--MarginBottom);
  font-size: 36px;
  font-weight: var(--pf-c-content--h1--FontWeight);
  line-height: var(--pf-c-content--h1--LineHeight);
  font-family: RedHatDisplay;
}

h1.ws-title:not(:first-child) {
  margin-top: var(--pf-c-content--h1--MarginTop);
}

h2.ws-title,
h2.ws-title.ws-mdx-h2 {
  margin-bottom: 8px;
  font-size: 21px;
  font-weight: var(--pf-c-content--h2--FontWeight);
  line-height: var(--pf-c-content--h2--LineHeight); 
}
  
h2.ws-title:not(:first-child),
h2.ws-title:not(:first-child).ws-mdx-h2 {
  margin-top: 24px; 
}

h3.ws-title,
h3.ws-title.ws-mdx-h3 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: var(--pf-c-content--h3--FontWeight);
  line-height: var(--pf-c-content--h3--LineHeight); 
  font-family: RedHatDisplay;
}
  
h3.ws-title:not(:first-child),
h3.ws-title:not(:first-child).ws-mdx-h3 {
  margin-top: 24px; 
}

h4.ws-title,
h4.ws-title.ws-mdx-h4 {
  margin-bottom: var(--pf-c-content--h4--MarginBottom);
  font-size: var(--pf-c-content--h4--FontSize);
  font-weight: var(--pf-c-content--h4--FontWeight);
  line-height: var(--pf-c-content--h4--LineHeight); 
}
  
h4.ws-title:not(:first-child),
h4.ws-title:not(:first-child).ws-mdx-h4 {
  margin-top: var(--pf-c-content--h4--MarginTop); 
}

h5.ws-title,
h5.ws-title.ws-mdx-h5 {
  margin-bottom: var(--pf-c-content--h5--MarginBottom);
  font-size: var(--pf-c-content--h5--FontSize);
  font-weight: var(--pf-c-content--h5--FontWeight);
  line-height: var(--pf-c-content--h5--LineHeight); 
}
  
h5.ws-title:not(:first-child),
h5.ws-title:not(:first-child).ws-mdx-h5 {
  margin-top: var(--pf-c-content--h5--MarginTop); 
}

h6.ws-title,
h6.ws-title.ws-mdx-h6 {
  margin-bottom: var(--pf-c-content--h6--MarginBottom);
  font-size: var(--pf-c-content--h6--FontSize);
  font-weight: var(--pf-c-content--h6--FontWeight);
  line-height: var(--pf-c-content--h6--LineHeight); 
}
  
h6.ws-title:not(:first-child),
h6.ws-title:not(:first-child).ws-mdx-h6 {
  margin-top: var(--pf-c-content--h6--MarginTop);
}

.ws-section table {
  border-collapse: collapse;
}

#examples ~ table td,
#examples ~ table th,
#examples ~ table tr {
  padding: .5em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  vertical-align: top;
}

.pf-c-table {
  background: none;
}

.pf-c-table tr {
  background: var(--pf-c-table--BackgroundColor);
}

.pf-c-table tr {
  margin-top: 8px;
}

@media screen and (max-width: 1450px) {
  table.pf-m-grid-2xl.pf-c-table tbody:first-of-type {
    border-top: 0;
  }
}

@media screen and (max-width: 1450px) {
  table.pf-m-grid-2xl.pf-c-table tr:not(.pf-c-table__expandable-row) {
    border-bottom: 0;
  }
}

.ws-mdx-p {
  font-size: 18px;
}

.ws-mdx-p:not(:last-child) {
  margin-bottom: 1rem;
}

.ws-section {
  padding: 32px 64px;
}
