:root {
  --ws-title--MarginTop: var(--pf-global--spacer--lg);
  --ws-title--MarginBottom: var(--pf-global--spacer--sm);
  --ws-title--LineHeight: var(--pf-global--LineHeight--sm);
  --ws-ol--PaddingLeft: var(--pf-global--spacer--lg);
  --ws-ol--MarginTop: var(--pf-global--spacer--md);
  --ws-ol--MarginLeft: var(--pf-global--spacer--lg);
  --ws-ol--nested--MarginTop: var(--pf-global--spacer--sm);
  --ws-ol--nested--MarginLeft: var(--pf-global--spacer--sm);
  --ws-ul--PaddingLeft: var(--pf-global--spacer--lg);
  --ws-ul--MarginTop: var(--pf-global--spacer--md);
  --ws-ul--MarginLeft: var(--pf-global--spacer--lg);
  --ws-ul--nested--MarginTop: var(--pf-global--spacer--sm);
  --ws-ul--nested--MarginLeft: var(--pf-global--spacer--sm);
  --ws-ul--ListStyle: var(--pf-global--ListStyle);
  --ws-li--MarginTop: var(--pf-global--spacer--sm);
  --ws-dl--ColumnGap: var(--pf-global--spacer--2xl);
  --ws-dl--RowGap: var(--pf-global--spacer--md);
  --ws-dt--FontWeight: var(--pf-global--FontWeight--semi-bold);
  --ws-dt--MarginTop: var(--pf-global--spacer--md);
  --ws-dt--sm--MarginTop: 0;
}

.ws-title {
  margin: 0;
  margin-bottom: var(--ws-title--MarginBottom);
}

.ws-title ~ .ws-title {
  margin-top: var(--ws-title--MarginTop);
}

.ws-ul {
  padding-left: var(--ws-ul--PaddingLeft);
  margin-top: var(--ws-ul--MarginTop);
  margin-left: var(--ws-ul--MarginLeft);
  list-style: var(--ws-ul--ListStyle);
}

.ws-code {
  display: inline-block;
  background-color: #fff;
  padding: 1px 8px;
  border: 1px solid #ededed;
  white-space: normal;
}

#examples ~ table td,
#examples ~ table th,
#examples ~ table tr {
  padding: .5em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  vertical-align: top;
}

.pf-c-table {
  background: none;
}

.pf-c-table tr {
  background: var(--pf-c-table--BackgroundColor);
}

.pf-c-table tr {
  margin-top: 8px;
}

@media screen and (max-width: 1450px) {
  table.pf-m-grid-2xl.pf-c-table tbody:first-of-type {
    border-top: 0;
  }
}

@media screen and (max-width: 1450px) {
  table.pf-m-grid-2xl.pf-c-table tr:not(.pf-c-table__expandable-row) {
    border-bottom: 0;
  }
}

.ws-p {
  font-size: 18px;
}

.ws-p:not(:last-child) {
  margin-bottom: 1rem;
}

.ws-a {
  font-size: 18px;
}

/* small {
  display: block;
  font-size: var(--pf-c-content--small--FontSize);
  line-height: var(--pf-c-content--small--LineHeight);
  color: var(--pf-c-content--small--Color);

  &:not(:last-child) {
    margin-bottom: var(--pf-c-content--small--MarginBottom);
  }
}

blockquote {
  padding: var(--pf-c-content--blockquote--PaddingTop) var(--pf-c-content--blockquote--PaddingRight) var(--pf-c-content--blockquote--PaddingBottom) var(--pf-c-content--blockquote--PaddingLeft);
  font-weight: var(--pf-c-content--blockquote--FontWeight);
  color: var(--pf-c-content--blockquote--Color);
  border-left: var(--pf-c-content--blockquote--BorderLeftWidth) solid var(--pf-c-content--blockquote--BorderLeftColor);
}

hr {
  height: var(--pf-c-content--hr--Height);
  background-color: var(--pf-c-content--hr--BackgroundColor);
  border: none;
}

ol {
  padding-left: var(--pf-c-content--ol--PaddingLeft);
  margin-top: var(--pf-c-content--ol--MarginTop);
  margin-left: var(--pf-c-content--ol--MarginLeft);

  ul {
    --pf-c-content--ul--MarginTop: var(--pf-c-content--ul--nested--MarginTop);
    --pf-c-content--ul--MarginLeft: var(--pf-c-content--ul--nested--MarginLeft);
  }

  ol {
    --pf-c-content--ol--MarginTop: var(--pf-c-content--ol--nested--MarginTop);
    --pf-c-content--ol--MarginLeft: var(--pf-c-content--ol--nested--MarginLeft);
  }
}

ul {
  padding-left: var(--pf-c-content--ul--PaddingLeft);
  margin-top: var(--pf-c-content--ul--MarginTop);
  margin-left: var(--pf-c-content--ul--MarginLeft);
  list-style: var(--pf-c-content--ul--ListStyle);

  ul {
    --pf-c-content--ul--MarginTop: var(--pf-c-content--ul--nested--MarginTop);
    --pf-c-content--ul--MarginLeft: var(--pf-c-content--ul--nested--MarginLeft);
  }

  ol {
    --pf-c-content--ol--MarginTop: var(--pf-c-content--ol--nested--MarginTop);
    --pf-c-content--ol--MarginLeft: var(--pf-c-content--ol--nested--MarginLeft);
  }
}

dl {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: $pf-global--breakpoint--sm) {
    grid-template: auto / auto 1fr;
    grid-column-gap: var(--pf-c-content--dl--ColumnGap);
    grid-row-gap: var(--pf-c-content--dl--RowGap);
  }
}

dt {
  font-weight: var(--pf-c-content--dt--FontWeight);

  &:not(:first-child) {
    margin-top: var(--pf-c-content--dt--MarginTop);

    @media screen and (min-width: $pf-global--breakpoint--sm) {
      --pf-c-content--dt--MarginTop: var(--pf-c-content--dt--sm--MarginTop);
    }
  }

  @media screen and (min-width: $pf-global--breakpoint--sm) {
    grid-column: 1;
  }
}

dd {
  @media screen and (min-width: $pf-global--breakpoint--sm) {
    grid-column: 2;
  }
} */