.ws-page-header {
  background-color: #151515;
  min-height: auto;
}
.ws-page-header .pf-c-nav__scroll-button  {
  outline-offset: -4px;
  height: 100%;
  top: 0;
}

.ws-page-header .pf-c-nav__scroll-button {
  outline-offset: -4px;
  height: 100%;
  top: 0;
}
.ws-page-header .pf-c-nav__horizontal-list .pf-c-nav__item {
  margin-right: 0;
}
.ws-page-header .pf-c-nav__horizontal-list .pf-c-nav__link {
  padding-top: 22px;
  padding-right: var(--pf-global--spacer--md);
  padding-left: var(--pf-global--spacer--md);
  color: var(--pf-global--Color--light-100);
}
@media (max-width: 991px) {
  .ws-page-header .pf-c-nav__horizontal-list .pf-c-nav__link {
    padding-top: 10px;
  }
}
.ws-page-header .pf-c-nav__horizontal-list .pf-c-nav__link::after {
  top: 0 !important;
  height: 4px;
}
.ws-page-header .pf-c-nav__horizontal-list .pf-c-nav__link:active, .ws-page-header .pf-c-nav__horizontal-list .pf-c-nav__link:hover {
  background-color: var(--pf-global--BackgroundColor--light-100);
  color: #151515 !important;
  font-weight: var(--pf-global--FontWeight--normal);
  transition: 0.5s;
}
.ws-page-header .pf-c-nav__horizontal-list .pf-c-nav__link.pf-m-current {
  background-color: var(--pf-global--BackgroundColor--light-100);
  color: #151515 !important;
  font-weight: var(--pf-global--FontWeight--normal);
}
.ws-page-header li a::after {
  content: "";
  position: absolute;
  left: 50% !important;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 1px;
  background-color: var(--pf-global--BackgroundColor--light-100);
  color: #151515 !important;
  transition: transform 250ms;
}
.ws-page-header li a:hover::after {
  transform: translateX(-50%) scaleX(1);
}
.ws-page-header li a.pf-m-current::after {
  left: 0 !important;
  transform: none;
}
.ws-page-sidebar {
  color: white;
}