.ws-section {
  padding: 48px;
  padding-top: 32px;
}

.ws-section:first-of-type {
  padding-bottom: 0;
}

.ws-framework-title {
  color: #06c;
}

.ws-toc {
  padding-top: 14px;
  padding-bottom: 14px;
  margin-right: 30px;
  display: inline-block;
}
